@page
@model LoginModel
@{
    ViewData["Title"] = "Event";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Описание события</title>
    <!-- Подключение Bootstrap 5 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container my-5">
        <h1>Описание события</h1>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <h3>Название события</h3>
                <p id ="eventname"></p>
                <h3>Дата и время события</h3>
                <p id="eventdate"></p>
                <h3>Описание события</h3>
                <p id ="eventdescription"></p>
            </div>
            <div class="col-md-6">
                <h3>Участники</h3>
                <ul class="list-group my-3" id="participants">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Участник 1
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Участник 2
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Участник 3
                    </li>
                </ul>
                <button class="btn btn-primary" id="join-btn">Присоединиться</button>
                <button class="btn btn-primary">Открыть чат</button>
            </div>
        </div>
    </div>
    <!-- Подключение скриптов Bootstrap 5 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.min.js"></script>
    <script>
        document.getElementById('join-btn').addEventListener('click', function () {
            var participants = document.getElementById('participants');
            var joinBtn = document.getElementById('join-btn');
            if (joinBtn.textContent === 'Присоединиться') {
                // добавляем строку "You" в список участников
                var youParticipant = document.createElement('li');
                youParticipant.className = 'list-group-item d-flex justify-content-between align-items-center';
                youParticipant.textContent = 'You';
                participants.appendChild(youParticipant);

                // меняем текст и класс кнопки на "Выйти" и "btn-danger"
                joinBtn.textContent = 'Выйти';
                joinBtn.className = 'btn btn-danger';
            } else {
                // удаляем строку "You" из списка участников
                var youParticipant = participants.querySelector('li:last-child');
                if (youParticipant.textContent === 'You') {
                    participants.removeChild(youParticipant);
                }

                // меняем текст и класс кнопки на "Присоединиться" и "btn-primary"
                joinBtn.textContent = 'Присоединиться';
                joinBtn.className = 'btn btn-primary';
            }
        });
    </script>


    <script>
        //Получение данных о событии по id
    var urlParams = new URLSearchParams(window.location.search);
    var eventId = urlParams.get('id');       

    console.log('ID события:', eventId);
    
        fetch(`/users/EventId/${eventId}`) // Путь к API-методу для получения данных о событии
            .then(response => {
                if (!response.ok) {
                    throw new Error('Ошибка получения данных о событии');
                }
                return response.json();
            })
            .then(data => {
                // Здесь можно использовать полученные данные о событии
                const eventNameq = data.name;
                console.log('имя события:', eventNameq);
                const eventDateq = data.date;
                const eventDescriptionq = data.description;

                
                const paragraphName = document.getElementById('eventname'); // Получаем ссылку на элемент <p> с идентификатором 'eventname'
                paragraphName.textContent = eventNameq; // Обновляем текст внутри элемента <p> с помощью свойства textContent
                const paragraphDate = document.getElementById('eventdate'); // Получаем ссылку на элемент <p> с идентификатором 'eventname'
                paragraphDate.textContent = eventDateq; // Обновляем текст внутри элемента <p> с помощью свойства textContent
                const paragraphDesc = document.getElementById('eventdescription'); // Получаем ссылку на элемент <p> с идентификатором 'eventname'
                paragraphDesc.textContent = eventDescriptionq; // Обновляем текст внутри элемента <p> с помощью свойства textContent
                // Пример использования данных
                console.log(eventName);
                console.log(eventDate);
                console.log(eventDescription);
            })
            .catch(error => {
                console.error(error);
            });



    </script>

</body>
</html>
