@page
@model HomeModel
@{
	ViewData["Title"] = "Home";
}

<div style="text-align: center;">
	<h1 style="color: #ff3366; font-family: 'Arial', sans-serif; font-size: 52px; font-weight: bold;">Добро пожаловать на сайт знакомств!</h1>
	<h4>Здесь вы можете найти свою половинку и встретиться с интересными людьми.</h4>
</div>
<script src="~/js/logincheck.js"></script>