@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MeetingWebsite.styles.css" asp-append-version="true" />
    <!-- Custom styles for this template -->
    <link href="~/css/sidebars.css" rel="stylesheet">
</head>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <main class="form-signin w-75 m-auto">
                <form>
                    <h1 class="h3 mb-3 fw-normal">Войдите в систему</h1>

                    <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                    </div>

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" value="remember-me"> Запомнить меня
                        </label>
                    </div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Войти</button>
                </form>
            </main>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/sidebars.js"></script>

<script>
    $(function () {
        // Назначаем обработчик события отправки формы
        $("form").submit(function (event) {
            event.preventDefault(); // Предотвращаем перезагрузку страницы при отправке формы

            // Получаем данные из формы
            var email = $("#floatingInput").val();
            var password = $("#floatingPassword").val();
            //var rememberMe = $("input[value='remember-me']").prop("checked");

            // Генерируем случайный ID
           // var id = Math.floor(Math.random() * 1000000000) + 1;
            
            var data = {
                password: password,
                mail: email,
            };
            // Отправляем POST-запрос на сервер
            $.post({
                url: '/users/authenticate', // Здесь указывается URL-путь для обработки регистрации на сервере
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (response) {
                    // Обработка успешного ответа сервера после регистрации
                    console.log(response);
                    alert('Авторизация прошла успешно');
                    window.location.href = "home";
                    // Дополнительные действия, например, перенаправление на другую страницу
                },
                error: function (xhr, status, error) {
                    // Обработка ошибки при регистрации
                    console.log(xhr.responseText);
                    alert('Ошибка при авторизации');
                }
            });
        });
    });

</script>