@page
@model RegistrationModel
@{
    ViewData["Title"] = "Registration";
	Layout = "";
}
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Registration</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
			<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/MeetingWebsite.styles.css" asp-append-version="true" />
	<!-- Custom styles for this template -->
	<link href="~/css/sidebars.css" rel="stylesheet">
</head>
<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-lg-6 col-md-8 col-sm-10">
			<main class="form-signin w-75 m-auto">
				<form id="registrationForm">
					<h1 class="h3 mb-3 fw-normal">Регистрация</h1>
					<div class="form-floating">
						<input type="text" class="form-control" id="username" placeholder="Username">
						<label for="username">Имя пользователя</label>
					</div>
					<div class="form-floating">
						<input type="email" class="form-control" id="email" placeholder="email">
						<label for="email">E-mail</label>
					</div>
					<div class="form-floating">
						<input type="date" class="form-control" id="birthdate" name="birthdate" value="">
						<label for="birthdate" class="form-label">Дата рождения:</label>
					</div>
					<div class="form-floating">
						<input type="password" class="form-control" id="password" placeholder="password">
						<label for="password">Пароль</label>
					</div>
					<div class="form-floating">
						<input type="password" class="form-control" id="confirmPassword" placeholder="confirm-password">
						<label for="confirmPassword">Подтвердите пароль</label>
					</div>
					<div class="mb-3 form-check">
						<input type="checkbox" class="form-check-input" id="terms" name="terms" required>
						<label class="form-check-label" for="terms">Я согласен с <a href="/Privacy">условиями использования</a></label>
					</div>
					<button type="submit" class="btn btn-primary w-100">Зарегистрироваться</button>
				</form>
				<p class="text-center mt-3">Уже есть аккаунт? <a href="/Login">Войти</a></p>
			</main>
		</div>
	</div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/sidebars.js"></script>
<script>
    $(function () {
        $('#registrationForm').submit(function (e) {
            e.preventDefault();

            var name = $('#username').val();
            var mail = $('#email').val();
            var password = $('#password').val();
            var birthdate = $('#birthdate').val();
            var confirmPassword = $('#confirmPassword').val();
            var terms = $('#terms').prop('checked');

            if (password !== confirmPassword) {
                alert('Пароли не совпадают');
                return;
            }

            if (!terms) {
                alert('Необходимо согласиться с условиями использования');
                return;
            }
            var id = Math.floor(Math.random() * 1000000000) + 1;
            // Создать объект с данными для отправки на сервер
            var data = {
                password: password,
                id: id,
                name: name,
                birthDate: birthdate,
                mail: mail,
                city: "",
                photo: "",
                description: "",
                gender: ""
            };

            // Отправить POST-запрос на сервер
            $.post({
                url: '/users/register', // Здесь указывается URL-путь для обработки регистрации на сервере
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (response) {
                    // Обработка успешного ответа сервера после регистрации
                    console.log(response);
                    alert('Регистрация прошла успешно');
                    window.location.href = "home";
                    // Дополнительные действия, например, перенаправление на другую страницу
                },
                error: function (xhr, status, error) {
                    // Обработка ошибки при регистрации
                    console.log(xhr.responseText);
                    alert("Вам должно быть больше 18 лет");
                }
            });
        });
    });



</script>